

.landscape-left-row{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 2rem;
    margin-bottom:2rem;

}

.landscape-right-row{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 2rem;
    margin-bottom:2rem;

}

.no-landcape-row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-bottom:2rem;

}

.gif-title{
    height:20rem;
    overflow: hidden;
    position: relative;

}

.gif-title img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    border-radius: 1rem;;

}


.text-title{
    position: absolute;
    bottom: 0.1rem;
    left:1rem;

}

.line-top-green{
    background-color: #00fd92;
    height:3rem;

}

.line-top-midgreen{
    background-color: #00d2c6;
    height:2rem;
    margin: 0 1rem;
}

.line-top-blue{
    background-color: #00a3fc ;
    height:1rem;
    margin: 0 2rem;
}