

* {
  margin: 0,;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #121212;
  color:white;
}

body h1{
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
}

body h2{
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

body p{
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bold;
}
.app {
  display:flex;
  justify-content:center;
}

.main{
  width: 90%;
  margin-top: 3%;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:active {
  color: inherit;
}

